/* main settings (start) */
:root {
  --mint-color: #849d8f;
  --white-color: #ffffff;
  --rgba-white-color: rgba(255, 255, 255, 0.2);
  --rgba-very-lite-white-color: rgba(215, 242, 227, 0.75);
  --black-color: #000000;
  --add-black-color: #3232324d;
  --dark-black-color: #231f20;
  --rgba-dark-black-color: rgba(0, 0, 0, 0.2);
  --rgba-light-black-color: rgba(0, 0, 0, 0.4);
  --light-black-color: #5a5a5a;
  --rgba-very-light-black-color: rgba(0, 0, 0, 0.3);
  --lighter-black-color: #323232;
  --lite-orange-color: #f26843;
  --lighter-orange-color: #d07058;
  --darker-light-orange-color: #e84d37;
  --darker-orange-color: #e74a35;
  --red-color: #ac1000;
  --rgba-darker-orange-color: rgba(172, 16, 0, 0.64);
  --bright-purple-color: #e951e9;
  --brown-color: #7a0004;
  --rgba-lite-dark-brown-color: rgba(172, 16, 0, 0.25);
  --lite-dark-brown-color: #9d8b84;
  --beige-color: #f5f5dc;
  --light-red-color: #fbded7;
  --rgba-darker-red-color: rgba(160, 32, 11, 0.76);
  --lite-dark-blue-color: #8996a6;
  --rgba-lite-black-blue-color: rgba(49, 50, 53, 0.5);
  --lighter-grey-color: #999999;
  --lite-grey-color: #f8f7f4;
  --rgba-lite-grey-color: rgba(248, 247, 244, 0.5);
  --light-grey-color: #d3d3d2;
  --light-yellow-grey-color: #cacac7;
  --rgba-light-grey-color: rgba(50, 50, 50, 0.2);
  --rgba-darker-grey-color: rgba(178, 178, 178, 0.52);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("RobotoBold"), url("../fonts/Roboto-Bold.ttf") format("ttf");
  src: local("RobotoLight"), url("../fonts/Roboto-Light.ttf") format("ttf");
  src: local("RobotoMedium"), url("../fonts/Roboto-Medium.ttf") format("ttf");
  src: local("RobotoRegular"), url("../fonts/Roboto-Regular.ttf") format("ttf");
}

html {
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: scroll;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;

  margin: 0 auto;

  font-family: "Roboto", "Ar1al", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black-color);

  background-color: var(--mint-color);

  scroll-behavior: smooth;

  /*
  background-image: url("../screens/Index.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  opacity: 0.5;

  background-image: url("../screens/catalog.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  opacity: 0.5;

  background-image: url("../screens/popup.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  opacity:0.5;

  padding: 0 calc(17px - (100vw - 100%)) 0 0;
  margin-right: calc(-1 * (100vw - 100%));
  */
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  width: 100%;
  max-width: 1200px;
  min-height: 100%;
}

img {
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  white-space: nowrap;

  width: 1px;
  height: 1px;

  overflow: hidden;

  margin: -1px;

  padding: 0;

  clip: rect(0 0 0 0);

  clip-path: inset(50%);
  -webkit-clip-path: inset(50%);

  border: 0;
}

/* Header (start) */
.ice-header {
  /* outline: 3px solid var(--black-color); */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;

  width: 1200px;

  z-index: 3;
}

.ice-header__logo-link {
  height: fit-content;

  margin-top: 9px;
}

.ice-header__logo-img {
  padding-left: 27px;
}

.ice-header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 1px;
  margin-left: -16px;

  padding-right: 15px;
}

.ice-header__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-top: 1px;
}

.ice-header__inner-special {
  flex-direction: row;

  margin-top: 27px;
  margin-left: -3px;

  padding-left: 0;
}

.ice-header__inner-wrapper {
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ice-header__inner-wrapper-nav {
  width: 100%;

  margin-top: 20px;
  margin-right: 2px;

  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.ice-header__inner-wrapper-adress {
  margin-top: -10px;
  margin-left: -3px;

  padding-top: 2px;

  text-align: right;
}

.ice-header__item {
  position: relative;

  width: fit-content;

  padding-right: 4px;

  list-style: none;

  z-index: 3;
}

.ice-header__inner-add-wrapper {
  display: none;

  min-height: 179px;

  position: absolute;
  top: 13px;
  left: -6px;

  padding-top: 5px;

  background-color: transparent;

  z-index: 1;
}
.ice-header__inner-add-wrapper:hover {
  display: block;
}

.ice-header__inner-add {
  display: block;

  width: max-content;

  min-width: 143px;
  min-height: 154px;

  margin-top: 15px;

  padding-top: 13px;
  padding-right: 0;
  padding-bottom: 1px;
  padding-left: 0;

  background-color: var(--white-color);
}

.ice-header__item-add {
  list-style: none;

  min-height: 27px;

  padding-right: 9px;
  padding-left: 0;
}
.ice-header__item-add:nth-child(2) {
  margin-top: 6px;
}

.ice-header__item-link-add:hover + .ice-header__inner-add-wrapper {
  display: block;

  animation: add-menu 0.5s forwards;
}

@keyframes add-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ice-header__item-add-text {
  margin-top: -5px;
  margin-bottom: 0;

  padding-bottom: 7px;
  padding-left: 21px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--lighter-black-color);
}

.ice-header__item-add-text:hover {
  cursor: default;
}

.ice-header__item-add:first-child:after {
  content: " ";

  display: block;

  margin-left: 6px;
  margin-right: 9px;

  border: 1px solid var(--rgba-light-grey-color);
}

.ice-header__item-link-inner {
  height: 27px;

  position: relative;

  display: flex;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 0;

  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--lighter-black-color);
}

.ice-header__item-link-inner:hover {
  margin-left: 0;
  margin-right: -10px;

  padding-left: 20px;

  background-color: var(--light-red-color);
}

.ice-header__item-link {
  position: relative;

  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 11px;
  padding-left: 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-color);

  z-index: 3;
}
.ice-header__item-link:hover {
  color: var(--lighter-black-color);

  border-radius: 26px;

  background-color: var(--white-color);
}

.ice-header__item-link-active {
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 11px;
  padding-left: 14px;

  border-radius: 26px;

  background-color: var(--lighter-orange-color);
}

.ice-header__inner-wrapper {
  list-style: none;
}

.ice-header__wrapper-item {
  position: relative;

  min-width: 100px;
  min-height: 32px;

  padding-right: 10px;
  padding-left: 10px;
}

.ice-header__inner-wrapper-nav .ice-header__wrapper-item:first-child {
  padding-left: 0;

  min-width: 32px;
}
.ice-header__inner-wrapper-nav .ice-header__wrapper-item:nth-child(2) {
  min-width: 82px;
}
.ice-header__inner-wrapper-nav .ice-header__wrapper-item-catalog {
  min-width: 118px;
}
.ice-header__inner-wrapper-nav .ice-header__wrapper-item:last-child {
  padding-right: 0;
}

.ice-header__wrapper-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}

.ice-header__wrapper-link-find {
  font-size: 0;

  width: 32px;
  min-height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 50%;

  background-color: var(--rgba-white-color);
}
.ice-header__wrapper-link-find:hover {
  background-color: var(--white-color);
}
.ice-header__wrapper-link-find:hover .ice-header__link-find-img path {
  fill: var(--lighter-black-color);
}
.ice-header__wrapper-link-find-active {
  background-color: var(--white-color);
}
.ice-header__link-find-img-active path {
  fill: var(--lighter-black-color);
}
/* Форма поиска (start) */
.ice-header__form-search {
  width: max-content;

  display: flex;
  align-items: center;
  justify-content: start;

  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 17px;

  position: absolute;
  top: 39px;
  right: 11px;

  border-radius: 4px;

  box-shadow: 0 20px 20px var(--rgba-light-black-color);

  background-color: var(--lite-grey-color);
}

.ice-header__input-search {
  padding-top: 12px;
  padding-right: 134px;
  padding-bottom: 10px;
  padding-left: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--lighter-grey-color);

  border: 1px solid var(--light-grey-color);
  border-radius: 4px;
}

.ice-header__form-search-hidden {
  display: none;
}
/* Форма поиска (end) */

.ice-header__wrapper-link-log-in {
  width: 92px;
  min-height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 20px;

  background-color: var(--rgba-white-color);
}
.ice-header__wrapper-link-log-in:hover {
  color: var(--lighter-black-color);

  background-color: var(--white-color);
}
.ice-header__wrapper-link-log-in:hover .ice-header__link-log-in-img path {
  fill: var(--lighter-black-color);
}
.ice-header__wrapper-link-log-in-active {
  color: var(--lighter-black-color);

  background-color: var(--white-color);
}
.ice-header__link-log-in-img-active path {
  fill: var(--lighter-black-color);
}

.ice-header__link-log-in-img {
  padding-right: 8px;
}

/* Форма входа\регистрации\восстановления пароля (start) */
.ice-header__form-log-in {
  width: 100%;
  min-width: 240px;
  min-height: 172px;

  position: absolute;
  top: 37px;
  right: 11px;

  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 22px;
  padding-left: 19px;

  border-radius: 4px;

  box-shadow: 0 20px 20px var(--rgba-light-black-color);

  z-index: 1;

  background-color: var(--lite-grey-color);
}

.ice-header__form-inner {
  display: flex;
  flex-direction: column;
}

.ice-header__form-email {
  margin-bottom: 20px;

  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 15px;

  border: 1px solid var(--light-grey-color);
  border-radius: 4px;

  background-color: var(--white-color);
}
.ice-header__form-email::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--lighter-grey-color);
}

.ice-header__form-password {
  margin-bottom: 40px;

  padding-top: 7px;
  padding-bottom: 18px;
  padding-left: 15px;

  border: 1px solid var(--light-grey-color);
  border-radius: 4px;

  background-color: var(--white-color);
}
.ice-header__form-password::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--lighter-grey-color);
}

.ice-header__form-inner-add {
  flex-direction: row;
  justify-content: space-between;

  margin-top: -21px;
}

.ice-header__button-log-in {
  height: fit-content;

  margin-right: 19px;

  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 16px;
  padding-left: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: var(--white-color);

  box-shadow: 0 1px 2px var(--rgba-lite-dark-brown-color);

  border: none;
  border-radius: 26px;

  background: linear-gradient(180deg, var(--lite-orange-color) 0%, var(--darker-orange-color) 100%);
}

.ice-header__form-container-questions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.ice-header__form-question {
  margin-top: 4px;
  margin-bottom: 9px;
  margin-left: 1px;

  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--lighter-black-color);
}
.ice-header__form-question::after {
  content: " ";

  display: block;

  margin-top: -1px;

  border-bottom: 2px solid var(--add-black-color);

  opacity: 0.38;
}

.ice-header__form-registration {
  margin-top: -3px;
  margin-bottom: 3px;
  margin-right: -1px;

  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--lighter-black-color);
}
.ice-header__form-registration::after {
  content: " ";

  display: block;

  margin-top: -1px;

  border-bottom: 2px solid var(--add-black-color);

  opacity: 0.38;
}

.ice-header__form-log-in-hidden {
  display: none;
}
/* Форма входа\регистрации\восстановления пароля (end) */

.ice-header__wrapper-link-basket {
  width: 100px;
  min-height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 20px;

  background-color: var(--rgba-white-color);
}
.ice-header__wrapper-link-basket:hover {
  color: var(--lighter-black-color);

  background-color: var(--white-color);
}
.ice-header__wrapper-link-basket:hover .ice-header__link-basket-img-active {
  display: block;
}
.ice-header__wrapper-link-basket:hover .ice-header__link-basket-img {
  display: none;
}

.ice-header__link-basket-img {
  padding-right: 8px;
}

.ice-header__link-basket-img-active {
  display: none;

  padding-right: 8px;
}

.ice-header__wrapper-link-basket-catalog {
  width: 118px;

  color: var(--lighter-black-color);

  background-color: var(--white-color);
}
.ice-header__wrapper-link-basket-catalog:hover .ice-header__link-basket-img {
  display: block;
}

/* Корзина (start) */
.ice-header__wrapper-basket {
  width: 509px;
  min-width: 100%;
  min-height: 200px;

  position: absolute;
  top: 39px;
  right: 11px;

  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 21px;
  padding-left: 15px;

  box-shadow: 0 20px 20px var(--rgba-light-black-color);

  border-radius: 4px;

  background-color: var(--lite-grey-color);

  z-index: 7;
}

.ice-header__wrapper-basket-container {
  display: flex;
  flex-direction: column;
}

.ice-header__wrapper-basket-container-hidden {
  display: none;
}

.ice-header__wrapper-basket-purchases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -7px;

  padding-left: 0;

  border-bottom: 1px solid var(--light-yellow-grey-color);
}
.ice-header__wrapper-basket-purchases:nth-child(2n) {
  padding-bottom: 2px;

  border-bottom: none;
}

.ice-header__wrapper-basket-purchase {
  width: 100%;
  max-width: 100%;
  min-width: 510px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 4px;

  padding-left: 14px;
}

.ice-header__purchase-del {
  padding-right: 5px;
  padding-left: 0;

  border: none;

  background: none;
}
.ice-header__purchase-del:hover {
  cursor: pointer;
}

.ice-header__purchase-img {
  padding-right: 5px;
  padding-left: 4px;
}

.ice-header__purchase-name {
  padding-right: 5px;
  padding-left: 8px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--lighter-black-color);
}

.ice-header__purchase-name-add {
  margin-top: 17px;

  padding-top: 2px;
}

.ice-header__purchase-price {
  padding-right: 13px;
  padding-left: 26px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--black-color);
}

.ice-header__purchase-price-add-add {
  color: var(--light-yellow-grey-color);
}

.ice-header__purchase-price-total {
  padding-right: 0;
  padding-left: 13px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--lighter-black-color);
}

.ice-header__wrapper-basket-purchases-total {
  margin-top: -1px;

  padding-right: 0;

  align-items: flex-end;
}

.ice-header__inner-purchases {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.ice-header__inner-purchases-total-price {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: var(--lighter-black-color);
}

.ice-header__inner-purchases-button {
  min-width: 172px;
  min-height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: var(--white-color);

  box-shadow: 0 1px 2px var(--rgba-lite-dark-brown-color);

  border-radius: 26px;

  background: linear-gradient(180deg, var(--lite-orange-color) 0%, var(--darker-orange-color) 100%);
}
.ice-header__inner-purchases-button:hover {
  background: var(--lite-orange-color);
}
/* Корзина (end) */

.ice-header__wrapper-item-button {
  padding-left: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}

.ice-header__wrapper-days {
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}

.ice-header__wrapper-tel {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--white-color);
}
.ice-header__wrapper-tel:hover {
  color: var(--dark-black-color);
}

/* Header (end) */
/* --- */
/* Slider (start) */
.main-content {
  /* outline: 3px solid var(--bright-purple-color); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.main-content-catalog {
  margin-top: -63px;
}

.main-content__bread-crumbs {
  margin-right: auto;

  padding-right: 27px;
  padding-left: 27px;
}

.main-content__bread-crumbs-wrapper {
  list-style: none;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  margin-top: 13px;
  margin-right: auto;
  margin-left: 1px;

  padding-left: 0;

  z-index: 3;
}

.main-content__bread-crumbs-item {
  position: relative;

  display: flex;
  align-items: center;

  margin-right: 8px;
}
.main-content__bread-crumbs-item::after {
  content: " ";

  display: block;

  position: absolute;
  right: 0;

  width: 6px;
  height: 6px;

  background-image: url("../img/bread-crumbs-arrow.svg");
}
.main-content__bread-crumbs-item:last-child::after {
  display: none;
}

.main-content__bread-crumbs-link {
  margin-right: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}

.main-content__bread-crumbs-link-active::after {
  content: " ";

  display: block;

  width: auto;

  border-bottom: 1px solid var(--white-color);

  opacity: 0.2;
}
.main-content__bread-crumbs-link-active:hover {
  cursor: pointer;
}

.main-content__bread-crumbs-link-add:hover {
  cursor: default;
}

/* Фильтр для настроек выбора мороженого (start) */
.main-content__filter-catalog {
  margin-top: -6px;
  margin-right: auto;
  margin-left: 3px;
}

.main-content__filter-catalog-header {
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: 25px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: var(--white-color);
}

.main-content__filter-catalog-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 869px;
}

.main-content__filter-form-container {
  display: flex;
  justify-content: space-between;

  margin-top: 13px;
  margin-right: auto;
  margin-left: 5px;
}

.main-content__filter-form-container-add {
  align-items: inherit;

  margin-top: -15px;
}

.main-content__filter-form-settings {
  width: 766px;

  margin-right: 10px;
}

.main-content__filter-form-fieldset {
  border: none;
}

.main-content__filter-form-fieldset-add {
  margin-left: -18px;
}

.main-content__filter-form-legend {
  margin-top: 1px;

  padding-left: 22px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
}

.main-content__filter-form-legend-add {
  margin-top: -4px;
  margin-bottom: 5px;
}

.main-content__filter-next-style {
  display: flex;

  height: 36px;

  border-radius: 20px;

  background: var(--rgba-white-color);
}

.main-content__filter-data-one-special {
  width: 711px;

  flex-wrap: wrap;
  justify-content: space-between;

  padding-right: 19px;
  padding-left: 14px;
}

.main-content__filter-data-li {
  display: flex;
  flex-direction: row;
}
.main-content__filter-data-li:first-child {
  margin-left: -5px;

  padding-top: 2px;
}
.main-content__filter-data-li:nth-child(2) {
  margin-left: -12px;

  padding-top: 2px;
}
.main-content__filter-data-li:nth-child(3) {
  margin-right: -75px;
  margin-left: -18px;

  padding-top: 2px;
}
.main-content__filter-data-li:nth-child(4) {
  margin-left: 65px;
  margin-right: 1px;

  padding-top: 2px;
}
.main-content__filter-data-li:nth-child(5n) {
  margin-right: 13px;
  margin-left: -13px;

  padding-top: 0px;
}

.main-content__filter-sorting {
  width: 196px;

  align-items: center;
  justify-content: center;
}

.main-content__filter-text {
  display: flex;
  align-items: center;

  margin-top: 0;
  margin-left: 1px;
}

.main-content__filter-select {
  display: flex;
  justify-content: center;

  width: 100%;
  min-width: 196px;
  height: 36px;

  padding-left: 21px;
  padding-right: 14px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-color);

  border: none;

  border-radius: 20px;

  background: url("../img/triangle-filter.svg") var(--rgba-white-color);
  background-repeat: no-repeat;
  background-position-y: 14px;
  background-position-x: 172px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main-content__filter-select::-ms-expand {
  display: none; /* удаляет стрелку по умолчанию в IE 10 и 11 */
}
.main-content__filter-select:hover {
  cursor: pointer;
}
.main-content__filter-select:focus {
  color: var(--lighter-black-color);

  background: url("../img/triangle-filter-active.svg") var(--white-color);
  background-repeat: no-repeat;
  background-position-y: 14px;
  background-position-x: 172px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main-content__filter-select:active {
  color: var(--lighter-black-color);

  background: url("../img/triangle-filter-active.svg") var(--white-color);
  background-repeat: no-repeat;
  background-position-y: 14px;
  background-position-x: 172px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main-content__filter-span::before {
  content: " ";

  display: block;

  width: 11px;
  height: 10px;

  background: url("../img/triangle-filter.svg");
}

.main-content__filter-next-price {
  position: relative;
  float: left;

  width: 195px;

  text-align: center;

  align-items: center;

  margin-top: -15px;
  margin-left: 4px;

  padding-left: 21px;
}
.main-content__filter-next-price div {
  position: inherit;

  width: 100%;
  height: 2px;
}

.main-content__filter-data-one {
  list-style: none;

  display: flex;
  align-content: center;
  align-items: center;

  width: 679px;

  margin-top: 3px;
  margin-left: 6px;

  padding-left: 21px;
}

.main-content__filter-next-personal {
  justify-content: space-around;
  flex-wrap: wrap;

  width: 393px;

  margin-top: 0;
  margin-left: 3px;

  padding-top: 3px;
  padding-right: 28px;
  padding-left: 10px;
}

.main-content__filter-data-one-li:first-child {
  padding-right: 7px;
}
.main-content__filter-data-one-li:nth-child(2) {
  padding-right: 6px;
}
.main-content__filter-data-one-li:nth-child(3) {
  margin-right: -6px;
}
.main-content__filter-data-one-li:nth-child(4n) {
  margin-right: -15px;
  margin-left: 12px;
}

.main-content__filter-data-one-input {
  position: absolute;

  z-index: -1;

  opacity: 0;
}
.main-content__filter-data-one-input + .main-content__filter-data-one-text {
  display: inline-flex;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-content__filter-data-one-input + .main-content__filter-data-one-text:hover {
  cursor: pointer;
}
.main-content__filter-data-one-input + .main-content__filter-data-one-text::before {
  content: " ";

  display: block;

  padding-right: 11px;

  width: 22px;
  height: 22px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}
.main-content__filter-data-one-input:checked + .main-content__filter-data-one-text::before {
  content: " ";

  display: block;

  width: 22px;
  height: 22px;

  background-image: url("../img/radio-on.svg");
}

.main-content__filter-data-one-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-color);
}

.main-content__filter-data-input {
  position: absolute;

  z-index: -1;

  opacity: 0;
}
.main-content__filter-data-one-input + .main-content__filter-data-label {
  display: inline-flex;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-content__filter-data-label {
  display: flex;
  flex-wrap: wrap;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-color);

  position: relative;

  padding-left: 32px;
}
.main-content__filter-data-label::before {
  content: " ";

  display: block;

  position: absolute;
  top: -1px;
  left: 0;

  width: 20px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.main-content__filter-data-input + .main-content__filter-data-label:hover {
  cursor: pointer;
}
.main-content__filter-data-input:checked + .main-content__filter-data-label::before {
  content: " ";

  display: block;

  position: absolute;
  top: -1px;
  left: 0;

  width: 24px;
  height: 20px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.main-content__filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-color);

  margin-top: 24px;
  margin-left: -32px;

  width: 144px;
  height: 36px;

  border: 2px solid var(--white-color);
  border-radius: 20px;

  background: var(--rgba-white-color);
}

.main-content__input-range {
  pointer-events: all;
  -webkit-appearance: none;
  outline: none;

  position: absolute;
  top: -10px;
  left: 0;

  margin: 0;

  padding: 0;

  border: none;
  border-radius: 14px;

  z-index: 1;

  background-color: var(--lite-grey-color);
}
.main-content__input-range:hover {
  cursor: pointer;
}

.main-content__input-range-empty-one {
  width: 176px;
  height: 2px;

  position: absolute;
  left: 0;

  background-color: var(--rgba-lite-grey-color);
}
.main-content__input-range-empty-two {
  width: 92px;
  height: 2px;

  position: absolute;
  left: 25px;

  background-color: var(--white-color);
}

.main-content__input-range::-webkit-slider-thumb {
  pointer-events: none;
  -webkit-appearance: none;
  outline: 0;

  position: relative;

  width: 20px;
  height: 22px;

  border: none;
  border-radius: 24px;

  background-image: url("../img/filter-button.svg");

  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main-content__input-range::-webkit-slider-thumb:hover {
  /*
  background-image: url("../img/filter-button-hover.svg");
  background-color: var(--white-color);
  */

  height: 22px;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  position: relative;
}
.main-content__input-range::-moz-range-thumb {
  -moz-appearance: none;
  pointer-events: none;

  height: 22px;

  position: relative;

  border: none;
  border-radius: 14px;
}
.main-content__input-range::-moz-range-thumb:hover {
  /*
  background-image: url("../img/filter-button-hover.svg");
  background-color: var(--white-color);
  */

  height: 22px;

  -moz-transition: 0.5s;

  transition: 0.5s;
}

.main-content__input-range::-ms-thumb {
  z-index: 10;

  height: 22px;

  -ms-appearance: none;
  pointer-events: none;

  position: relative;

  border-radius: 14px;
  border: 0;
}

.main-content__input-range::-ms-thumb:hover {
  /*
  background-image: url("../img/filter-button-hover.svg");
  background-color: var(--white-color);
  */

  height: 22px;

  -ms-transition: 0.5s;

  transition: 0.5s;
}

.main-content__input-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;

  box-shadow: none;

  border: none;

  background: transparent;
}

.main-content__input-range::-moz-range-track {
  -webkit-appearance: none;

  box-shadow: none;

  border: none;

  background: transparent;
}

.main-content__input-range::-ms-track {
  -webkit-appearance: none;

  box-shadow: none;

  border: none;

  background: transparent;
}

.main-content__input-range-one {
  left: -5px;

  background-color: transparent;
}

.main-content__input-range-two {
  left: 5px;

  background-color: transparent;

  background-repeat: no-repeat;
}

.main-content__border {
  border: none;

  margin-top: -16px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.main-content__header {
  margin-bottom: 10px;

  width: 216px;

  display: flex;
  align-items: center;
}

.main-content__container-item {
  display: flex;

  width: 378px;

  margin-bottom: -2px;
}

.main-content__item {
  width: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);

  border: none;

  background: transparent;
}

/* Фильтр для настроек выбора мороженого (end) */

.main-content__empty-page {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: var(--black-color);
}

.main-content__option {
  /* outline: 3px solid var(--rgba-darker-orange-color); */

  display: grid;
  grid-template-rows: 1fr;

  margin-bottom: 26px;

  padding-right: 27px;
  padding-left: 27px;
}

.main-content__option-wrapper {
  position: relative;

  margin-top: 1px;
  margin-bottom: -22px;
}

.main-content__option-slide-one {
  /* outline: 3px solid var(--brown-color); */

  background-color: var(--mint-color);
}

.main-content__option-slide-two {
  position: relative;
  background-color: var(--lite-dark-blue-color);
}

.main-content__option-slide-three {
  background-color: var(--lite-dark-brown-color);
}

.main-content__option-inner {
  position: relative;
}

.main-content__option-inner:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;

  margin-top: -66px;

  z-index: 2;
}

.main-content__option-img-one {
  position: absolute;
  left: 248px;

  z-index: 1;
}

.main-content__option-img-one-three {
  left: 252px;
}

.main-content__option-img-two {
  position: absolute;
  top: 42px;
  right: 248px;
}

.main-content__option-img-two-three {
  top: 34px;
  right: 254px;
}

.main-content__option-slide {
  min-height: 584px;
}

.main-content__option-slide::after {
  content: " ";

  display: block;

  width: 1200px;
  height: 966px;

  position: absolute;
  top: -193px;
  right: -27px;
  left: -27px;

  border-radius: 50%;

  filter: blur(250px);

  background-color: var(--rgba-very-lite-white-color);

  z-index: 0;
}

.main-content__option-inner:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  right: 0;
  bottom: 10px;
  left: -12px;

  z-index: 2;
}

.main-content__option-product-header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: -10px;
  margin-left: 11px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;

  color: var(--white-color);
}

.main-content__option-product-button {
  width: fit-content;

  margin-top: 36px;
  margin-right: auto;
  margin-bottom: 51px;
  margin-left: auto;

  padding-top: 9px;
  padding-right: 23px;
  padding-bottom: 9px;
  padding-left: 23px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px var(--rgba-darker-red-color);
  color: var(--white-color);
  letter-spacing: 0.05em;

  border-radius: 70px;
  border: none;

  box-shadow: 0 2px 2px var(--rgba-darker-orange-color);

  background: linear-gradient(180deg, var(--lite-orange-color) 0, var(--darker-orange-color) 100%);
}
.main-content__option-product-button:hover {
  background: var(--lite-orange-color);
}

.main-content__paginator-wrapper {
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-right: -26px;
  margin-left: auto;
}

.main-content__paginator-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--white-color);
}

.main-content__paginator-link-arrow {
  color: var(--rgba-white-color);
}

.main-content__paginator-arrow-img-back:hover .main-content__paginator-arrow-img {
  display: none;
}

.main-content__paginator-arrow-img-back:hover {
  display: block;

  width: 7px;
  height: 12px;

  transform: scaleX(-1);

  background-image: url("../img/paginator-arrow-active.svg");
}

.main-content__paginator-arrow-img-next {
  transform: scaleX(-1);
}

.main-content__paginator-arrow-img-next:hover .main-content__paginator-arrow-img {
  display: none;
}

.main-content__paginator-arrow-img-next:hover {
  display: block;

  width: 7px;
  height: 12px;

  transform: scaleX(1);

  background-image: url("../img/paginator-arrow-active.svg");
}

.main-content__paginator-link-active {
  color: var(--lighter-black-color);

  width: 26px;
  height: 26px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: -8px;

  border-radius: 50%;

  background-color: var(--white-color);
}

.main-content__paginator-link-active:hover {
  cursor: default;
}

.main-content__paginator-item-pagin:first-child {
  margin-right: -4px;
  margin-left: 0;
}

.main-content__paginator-item {
  padding-right: 10px;
  padding-left: 11px;
}

.main-content__paginator-item-pagin:last-child {
  margin-right: 0;
  margin-left: 16px;
}

.main-content__group-ice {
  /* outline: 3px solid var(--lite-grey-color); */

  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;

  padding-left: 0;
}

.main-content__ice-item {
  /* outline: 4px solid var(--black-color); */

  position: relative;

  width: 100%;
  min-width: 267px;
  height: 100%;
  min-height: 324px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-content__ice-item:hover .main-content__ice-item-hover {
  display: flex;
}
.main-content__ice-item:hover .main-content__ice-item-add {
  z-index: 6;
}
.main-content__ice-item:hover .main-content__ice-img {
  z-index: 5;
}
.main-content__ice-item:hover .main-content__ice-price {
  cursor: default;

  z-index: 5;
}
.main-content__ice-item:hover .main-content__ice-price-text-header {
  cursor: default;

  z-index: 5;
}
.main-content__ice-item:hover .ice-header__wrapper-basket {
  position: absolute;
  z-index: 10;
}

.main-content__ice-item-hover {
  /* outline: 4px solid var(--darker-orange-color); */

  display: none;
  justify-content: center;
  align-items: end;

  width: 100%;
  height: 100%;
  min-height: 402px;

  position: absolute;
  top: -6px;

  padding-right: 13px;
  padding-left: 13px;

  box-shadow: 0 20px 20px var(--rgba-dark-black-color);

  border-radius: 4px;

  background-color: var(--rgba-white-color);

  z-index: 4;
}

.main-content__paginator {
  margin-top: 4px;
  margin-right: 5px;
  margin-bottom: -7px;
}

.main-content__ice-item-hover-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 200px;
  min-height: 44px;

  margin-bottom: 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: var(--white-color);

  box-shadow: 0 1px 2px var(--red-color);

  border-radius: 50px;

  opacity: 1;

  background: linear-gradient(180deg, var(--lite-orange-color) 0%, var(--darker-light-orange-color) 100%);

  z-index: 2;
}
.main-content__ice-item-hover-btn:hover {
  cursor: pointer;

  background: var(--lite-orange-color);
}

.main-content__ice-item-add {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 61px;
  min-height: 61px;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 50%;

  background-color: var(--white-color);
}

.main-content__ice-price {
  margin-top: -62px;
  margin-right: auto;
}

.main-content__ice-price-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: var(--white-color);
  text-shadow: 0 1px 3px var(--rgba-lite-black-blue-color);
}

.main-content__ice-price-text-span {
  font-size: 30px;
}

.main-content__ice-price-text-header {
  margin-top: 20px;
  margin-bottom: 42px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--white-color);
}

.main-content__group-button {
  float: right;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  text-shadow: 0 2px 5px var(--rgba-darker-red-color);

  margin-top: 8px;
  margin-left: 22px;
  margin-right: 22px;

  padding-top: 15px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;

  box-shadow: 0 2px 2px var(--rgba-darker-orange-color);

  border-radius: 70px;
  border: none;

  background: linear-gradient(180deg, var(--lite-orange-color) 0, var(--darker-orange-color) 100%);
}
.main-content__group-button:hover {
  background: var(--lite-orange-color);
}

.main-content__radio {
  /* outline: 2px solid var(--black-color); */

  position: absolute;
  bottom: 38px;

  width: 89px;
  min-height: 21px;

  margin-bottom: 45px;
  margin-left: -2px;

  z-index: 2;
}

.main-content__option-radio-button {
  width: 0;
  height: 0;

  margin-right: 27px;

  z-index: -1;
}
.main-content__option-radio-button:hover::before {
  background: var(--white-color);
}
.main-content__option-radio-button:last-child {
  margin-right: 0;
}
.main-content__option-radio-button::before {
  content: " ";

  display: block;

  width: 18px;
  height: 18px;

  margin-top: -17px;

  border-radius: 50%;
  border: 2px solid var(--white-color);
}

.main-content__option-radio-button:checked::before {
  content: " ";

  display: block;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: 2px solid var(--white-color);

  background-color: var(--white-color);
}

.main-content__option-radio-button:checked:hover::before {
  cursor: default;
}

.main-content__option-radio-button:hover:before {
  cursor: pointer;
}
/* Slider (end) */
/* --- */
/* Дополнения и мороженое (start) */
.main-content__option-group {
  display: grid;
  grid-template-rows: 1fr;
}

.main-content__option-group-add {
  padding-right: 27px;
  padding-left: 27px;
}

.main-content__group-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: 24px;

  z-index: 4;
}

.main-content__group-text {
  margin-top: 16px;
  margin-right: 30px;
  margin-left: 16px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: var(--white-color);
}

.main-content__group-info {
  margin-top: -17px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--white-color);
}

.main-content__group-inner {
  border-radius: 16px;
}

.main-content__group-add-one {
  margin-right: 26px;

  width: 100%;
  min-width: 560px;
  height: auto;
  min-height: 229px;

  background-color: var(--bright-purple-color);
  background-image: url("../img/raspberry-bg.png");
}

.main-content__group-add-two {
  width: 100%;
  min-width: 560px;
  height: auto;
  min-height: 229px;

  background-color: var(--brown-color);

  background-image: url("../img/chocolate-bg.png");
}

.main-content__slide-hide {
  display: none;
}

.slider-one-active {
  position: relative;

  background-color: var(--mint-color);
}
.slider-one-active::before {
  content: " ";

  display: block;

  width: 1200px;
  height: 100%;

  position: absolute;
  top: 0;

  background-image: url("../img/ice-light-one.png");

  z-index: 2;
}

.slider-two-active {
  position: relative;

  background-color: var(--lite-dark-blue-color);
}
.slider-two-active::before {
  content: " ";

  display: block;

  width: 1200px;
  height: 100%;

  position: absolute;
  top: 0;

  background-image: url("../img/ice-light-two.png");

  z-index: 1;
}

.slider-three-active {
  background-color: var(--lite-dark-brown-color);
}
.slider-three-active::before {
  content: " ";

  display: block;

  width: 1200px;
  height: 100%;

  position: absolute;
  top: 0;

  background-image: url("../img/ice-light-three.png");

  z-index: 1;
}

/* Дополнения и мороженое (end) */
/* --- */
/* Информация о магазине Глэйси, новости, подписка (start) */
.main-content__info {
  /* outline: 3px solid var(--black-color); */

  display: grid;
  grid-template-rows: 1fr;
  row-gap: 5px;

  margin-top: -44px;

  padding-right: 27px;
  padding-left: 27px;
}

.main-content__shop-wrapper {
  display: flex;
  flex-direction: row;

  margin-top: -16px;
}

.main-content__shop-container {
  margin-right: 32px;

  min-height: 200px;
}

.main-content__shop-container:nth-child(2n) {
  margin-right: 0;
}

.main-content__shop-item {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 16px;
}

.main-content__shop-item:nth-child(2n) {
  margin-bottom: 36px;
}

.main-content__shop-item-block {
  position: absolute;
  top: 0;
  left: 0;

  width: 49px;
  height: 49px;

  border: 2px solid var(--lighter-black-color);
  border-radius: 50%;
}

.main-content__shop-item-img {
  display: block;

  margin: auto;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-content__info-shop {
  max-width: 1146px;
  min-height: 306px;

  margin-bottom: 38px;

  padding-top: 0;
  padding-right: 23px;
  padding-left: 20px;

  border-radius: 16px;

  background-color: var(--beige-color);
  background-image: url("../img/wafer-bg.png");
}

.main-content__shop-header {
  margin-top: 5px;
  margin-bottom: 0;

  padding-top: 19px;
  padding-bottom: 18px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--lighter-black-color);
}

.main-content__shop-item-info {
  margin-top: 0;
  margin-bottom: -5px;
  margin-left: 0;

  padding-top: 12px;
  padding-left: 56px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--lighter-black-color);
}

.main-content__info-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  min-height: 216px;

  z-index: 1;
}

.main-content__info-article {
  width: 100%;
  min-width: fit-content;
  height: auto;

  margin-right: 26px;

  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 85px;
  padding-left: 20px;

  border-radius: 16px;

  background-color: var(--white-color);
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
}

.main-content__article-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--lighter-black-color);

  margin-top: 0;
  margin-bottom: 0;

  padding-bottom: 2px;
}

.main-content__article-link {
  position: relative;

  padding-top: 5px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: var(--lighter-black-color);
}

.main-content__info-article-add {
  width: 100%;
  min-width: 560px;
  height: 100%;

  position: relative;

  border-radius: 16px;

  background-color: var(--white-color);
  background-image: url("../img/color-linea-bg.png");
}

.main-content__info-article-add-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;

  padding-top: 21px;
  padding-right: 16px;
  padding-bottom: 17px;
  padding-left: 20px;

  border-radius: 16px;

  z-index: 1;

  background-color: var(--lite-grey-color);
}
.main-content__info-article-add-container:nth-child(3n) {
  margin-left: 5px;
}

.main-content__article-add-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-black-color);

  margin-top: 0;
  margin-bottom: 37px;
}

.main-content__article-add-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;

  margin-top: 7px;
}

.main-content__article-add-form-placeholder {
  box-sizing: border-box;

  margin-right: -3px;

  padding-top: 15px;
  padding-right: 175px;
  padding-bottom: 14px;
  padding-left: 12px;

  border: 1px solid var(--rgba-darker-grey-color);
  border-radius: 6px;

  background-color: var(--white-color);
}

.main-content__article-add-form-placeholder::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--lighter-grey-color);
}

.main-content__article-add-button {
  margin-left: 5px;

  padding-top: 13px;
  padding-right: 21px;
  padding-bottom: 9px;
  padding-left: 19px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  text-shadow: 0 2px 5px var(--rgba-darker-red-color);

  border-radius: 70px;
  border: none;

  box-shadow: 0 2px 2px var(--rgba-darker-orange-color);

  background: linear-gradient(180deg, var(--lite-orange-color) 0, var(--darker-orange-color) 100%);
}
.main-content__article-add-button:hover {
  background: var(--lite-orange-color);
}
/* Информация о магазине Глэйси, новости, подписка (end) */
/* --- */
/* Карта (start) */
.map {
  /* outline: 3px solid var(--bright-purple-color); */

  position: relative;

  margin-top: 20px;

  min-height: 430px;
}

.map__pin-ico {
  position: absolute;
  top: 136px;
  left: 266px;
}
.map__pin-ico:hover {
  cursor: pointer;
}

.map__wrapper {
  position: absolute;
  top: 62px;
  right: 27px;

  width: 253px;

  padding-top: 31px;
  padding-right: 25px;
  padding-bottom: 32px;
  padding-left: 25px;

  border-radius: 16px;

  background-color: var(--white-color);
}

.map__inner:first-child {
  margin-bottom: 15px;
}
.map__inner:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 15px;
}
.map__inner:last-child {
  margin-top: 29px;
}

.map__info {
  margin-top: 0;
  margin-bottom: 6px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--lighter-black-color);
}

.map__adress {
  margin-top: -4px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: var(--lighter-black-color);
}

.map__tel-info {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--lighter-black-color);
}
.map__tel:hover {
  color: var(--black-color);
}

.map__tel {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--lighter-black-color);
}

.map__days {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--lighter-black-color);
}

.map__form-link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 43px;

  margin-top: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  text-shadow: 0 2px 5px var(--rgba-darker-red-color);

  border: none;
  border-radius: 70px;

  box-shadow: 0 2px 2px var(--rgba-darker-orange-color);

  background: linear-gradient(180deg, var(--lite-orange-color) 0%, var(--darker-orange-color) 100%);
}
.map__form-link:hover {
  background: var(--lite-orange-color);
}
/* Карта (end) */
/* --- */
/* Подвал (start) */
.footer-ice {
  /* outline: 3px solid var(--beige-color); */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;

  min-height: 103px;

  padding-right: 27px;
  padding-left: 27px;
}

.footer-ice__group {
  display: flex;
  align-items: center;

  margin-top: 2px;
  margin-left: 1px;
}

.footer-ice__navigation {
  display: flex;
  align-items: center;

  margin-left: 18px;
}

.footer-ice__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: auto;
}

.footer-ice__link-author {
  margin-top: -8px;
}

.footer-ice__items {
  list-style: none;

  width: 100%;

  margin-top: 11px;

  padding-left: 0;
}

.footer-ice__item:nth-child(2n) {
  padding-left: 20px;
}

.footer-ice__item-special {
  margin-left: -16px;
}
.footer-ice__item-special:nth-child(2n) {
  padding-left: 0;
}

.footer-ice__link {
  position: relative;

  padding-right: 13px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--white-color);
}
.footer-ice__link::after {
  content: " ";

  display: block;

  width: 100%;

  border-bottom: 1px solid var(--white-color);

  position: absolute;
  left: 0;
  bottom: 0;

  opacity: 0.2;
}
.footer-ice__link:hover {
  color: var(--black-color);
}

.footer-ice__link-add {
  font-weight: 700;

  display: block;
}

.footer-ice__text-author {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--white-color);
}

/* Подвал (end) */
/* --- */
/* Форма обратной связи (start) */
.map-feedback-containerr {
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  min-height: 100vh;

  z-index: 5;

  background-color: var(--rgba-very-light-black-color);
  background-size: contain;
}

.map-feedback__inner {
  position: absolute;
  top: 34%;

  width: 431px;
  min-height: 414px;

  margin-top: 10px;

  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 21px;

  border-radius: 6px;

  z-index: 5;

  background-color: var(--lite-grey-color);
}

.map-feedback__up-header {
  margin-top: 0;
  margin-left: 2px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--lighter-black-color);
}

.map-feedback__up-btn-close {
  position: relative;

  width: 18px;
  height: 17px;

  margin-top: -27px;
  margin-right: -4px;

  font-size: 0;
  color: transparent;

  border: none;

  background: transparent;
}
.map-feedback__up-btn-close:hover {
  cursor: pointer;
}
.map-feedback__up-btn-close::before {
  content: " ";

  display: block;

  position: absolute;

  width: 20px;
  height: 2px;

  transform: rotate(45deg);

  background-color: var(--dark-black-color);
}
.map-feedback__up-btn-close::after {
  content: " ";

  display: block;

  position: absolute;

  width: 20px;
  height: 2px;

  transform: rotate(-45deg);

  background-color: var(--dark-black-color);
}
.map-feedback__up-btn-close:hover::before,
.map-feedback__up-btn-close:hover::after {
  content: " ";

  display: block;

  background-color: var(--light-black-color);
}

.map-feedback__up {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.map-feedback__down {
  box-sizing: border-box;

  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;

  width: 428px;

  margin-left: 2px;
}

.map-feedback__down-input {
  width: 237px;
  min-height: 44px;

  margin-bottom: 20px;

  padding-top: 3px;
  padding-right: 14px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-color);

  border: 1px solid var(--rgba-darker-grey-color);
  border-radius: 4px;

  background-color: var(--white-color);
}

.map-feedback__down-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--lighter-grey-color);
}

.map-feedback__down-input-email {
  min-height: 39px;

  padding-top: 0;
  padding-right: 14px;
  padding-left: 16px;
}

.map-feedback__down-input-free {
  width: -webkit-fill-available;
  min-height: 136px;

  position: relative;

  padding-top: 12px;

  overflow: hidden;
}
.map-feedback__down-input-free::placeholder {
  position: absolute;
}

.map-feedback__down-btn {
  display: flex;
  align-items: center;

  margin-top: 5px;
  margin-left: auto;

  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  text-shadow: 0 2px 5px var(--rgba-darker-red-color);

  box-shadow: 0 2px 2px var(--rgba-darker-orange-color);

  border: none;
  border-radius: 70px;

  background: linear-gradient(180deg, var(--lite-orange-color) 0%, var(--darker-orange-color) 100%);
}
.map-feedback__down-btn:hover {
  background: var(--lite-orange-color);
}

.map__feedback-down-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 140px;
  min-height: 44px;

  margin-top: 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  text-shadow: 0 2px 5px var(--rgba-darker-red-color);

  box-shadow: 0 2px 2px var(--rgba-darker-orange-color);

  border: none;
  border-radius: 70px;

  background: linear-gradient(180deg, var(--lite-orange-color) 0%, var(--darker-orange-color) 100%);
}

.map-feedback-hidden {
  display: none;
}
/* Форма обратной связи (end) */
/* --- */
